.container #container-home .image-holder img.animal-img, #container-cats .animal-img-holder .animal-img {
    width: 360px;
    height: 399px;
    cursor: pointer;
}

.container #container-home .image-holder img.animal-img, #container-dogs .animal-img-holder .animal-img {
    width: 360px;
    height: 399px;
    cursor: pointer;
}

.hiden {
    display: none;
}

#animal-popup-info {
    display: none;
    position: absolute;
    top:200px;
    left:100px;
    border-radius: 10px;
    box-shadow:10px 10px 5px #888888;
    z-index: 2;
}
