<!--Creating the home.html template-->
<div class="row padding-10" id="container-home">
    <div class="row col-xs-12 col-sm-4 col-md-8 col-sm-offset-2 information-holder">
        <p>Hello all new happy pet owners, this site is esepcialy created for people who just adopted a new(hopefully) memeber of
            the family like a little kitten or a puppy to help them keep a happy realtionship with their new pet. So why is it
            important to have a helthy happy pet? Pet ownership in general, and cat or dog ownership in particular can improve
            your quality of life. As devoted pet parents to some pretty cool fur-kids we know all too well just how much of our
            time can be spent trying to find the right products, services and advice to meet our pets’ needs. That’s time that
            could be better spent doing the things that we love together – from cuddles on the couch to running in the rain (ask
            any Chocolate Labrador). That’s why we created Animal Care, an Bulgarian Pet Care Company dedicated to providing
            you and your furry family members with Amazing Vet Care Solutions.
        </p>
        <h2>Are you a cat or a dog person ?</h2>       
    </div>
    <!--Adding to it is the image hover directive-->
    <img-hover fpath="./resources/imgs/images.jpg" spath="./resources/imgs/home-cat.png" url-path="cats" classtype="row col-xs-12 col-sm-4 col-sm-offset-2"></img-hover>
    <img-hover fpath="./resources/imgs/home-dog.jpg" spath="./resources/imgs/dog-bone.png" url-path="dogs" classtype=" row col-xs-12 col-sm-4"></img-hover>
</div>